block footer
  
  footer  
    #mc_embed_signup
      form#mc-embedded-subscribe-form.validate(action='//nfl.us8.list-manage.com/subscribe/post?u=bcb128ea3c80fd21579f6c7c8&id=e698ba350b', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll
          label.subscribe(for='mce-EMAIL') Subscribe to our mailing list      
          input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
          div(style='position: absolute; left: -5000px;')
            input(type='text', name='b_bcb128ea3c80fd21579f6c7c8_e698ba350b', tabindex='-1', value='')
          input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
  
    p EJ & Chad 
      span / 
      | August 8th 2015 
      span / 
      | Nashville, TN
