block header
  
  header#top
    div.center
      ul.nav-bar
        //- li: a(href='#people') People
        //- li: a(href='#party') Party
        li: a(href='#registry') Registry
        li: a(href='#nashville') Nashville
        li: a(href='#travel') Travel
        li: a(href='#accomodations') Accomodations
