block header
  
  header
    div
      ul.nav-bar
        li: a(href='#people') People
        li: a(href='#party') Party
        li: a.js-toggle-menu(href='#nashville') Nashville
        li: a(href='#travel') Travel + Lodging
        li: a(href='#registry') Registry
