block header
  
  header#top
    div
      ul.nav-bar
        li: a(href='#') People
        li: a(href='#') Party
        li: a.js-toggle-menu(href='#nashville') Nashville
        li: a(href='#travel') Travel + Lodging
        li: a(href='#registry') Registry
