block header
  
  header#top
    div
      ul.nav-bar
        li: a(href='#nashville') Nashville
        li: a(href='#travel') Travel
        li: a(href='#accomodations') Accomodations
        li: a(href='#registry') Registry
