section.travel#travel
  div.center
    h2 Travel
    hr
    article.fly
      figure.icon
        img(src='../images/airplane.png')
      p Fly
      a.button(href='http://www.kayak.com/' target='_blank') Find Flights
    article.drive
      figure.icon
        img(src='../images/car.png')
      p Drive
      a.button(href='https://www.google.com/maps' target='_blank') Find Directions
    article.train
      figure.icon
        img(src='../images/train.png')
      p Train
      a.button(href='http://www.amtrak.com/home' target='_blank') Find Trains
    h6 Other info
    p.other  Unfortunately, the State Legislature killed funding for Nashville's first shot at reliable, rapid mass transit earlier this year. The city has a Metro bus system that will get you around, but busses are very few and far between on the weekends. Regular fare is $1.70. 
    p.other A free, bright green bus called the Music City Circuit connects The Gulch (where one of our hotels is located) to downtown Nashville and Germantown, and is much more reliable on weekends. Check out that route and schedule&nbsp;
      a(href='http://www.nashvillemta.org/Nashville-MTA-Music-City-Circuit.asp' target='_blank') here.
    p.other Because parking is a hassle, we recommend using Uber, Lyft, or good ole fashioned taxis to get around the city this weekend. We will provide transportation from the hotel, to our ceremony and reception, with staggered departure times throughout the night. If you plan to drive yourself, please note that our 
      a(href='http://www.houstonstationnashville.com/parking/', target='_blank') venue 
      | requires valet parking for all event guests.
    p.other We will update the website with transportation and hotel details as we get closer to August 8. 
    
section.lodging
  div.center
    h2 Hotel and Lodging Info
    hr
    p We have reserved room blocks at two hotels with restaurants and bars in walking distance. Please mention the Boyer/Campbell Wedding 2015 when making reservations prior to the dates below in order to receive our special rates.
    div.options
      ul
        li
          h6: a(href='http://home2suites.hilton.com/en/ht/groups/personalized/B/BNAHTHT-BCW-20150807/index.jhtml' target='_blank')
            | Home 2 Suites by Hilton (Midtown)
          p 1800 Division Street, 37203
          p Phone: (615) 751-6824
          small Reserve by July 7 to lock-in our rates
        
        li
          h6: a(href='http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Boyer/Campbell%20Wedding%202015^BNAFN%60BCWBCWA|BCWBCWB%60179.00%60USD%60false%608/7/15%608/9/15%607/17/15&app=resvlink&stop_mobi=yes' target='_blank')
            | Fairfield Inn and Suites Nashville (Downtown/The Gulch)
          p 901 Division Street, 37203
          p Phone: (615) 690-1740
          small Reserve by July 17 to lock-in our rates
          
    div.other-recs
      p Other recommendations:
      ul
        li
          p.hotel The Aloft Nashville West End
          p 1719 West End Ave, 37203
          p Phone: (615) 329-4200
        li
          p.hotel The Hutton Hotel
          p 1808 West End Ave, 37203
          p Phone: (615) 340-9333
        li 
          p.hotel Downtown Hyatt
          p 301 3rd Avenue South, 37201
          p Phone: (615) 687-9995
          
    div.airbnb
      p Nashville also has plenty of AirBnb and Homeaway rentals, which are perfect for groups. We recommend looking in the neighborhoods of Downtown, Midtown, Vandy/West End, 12South, Germantown, and East Nashville (5 Points, Inglewood) if you’d like to consider this option.
