extends layout

block content

  main
    header#top
      ul.nav-bar
        //- li: a(href='#people') People
        //- li: a(href='#party') Party
        li: a(href='#registry') Registry
        li: a(href='#nashville') Nashville
        li: a(href='#travel') Travel
        li: a(href='#accomodations') Accomodations

    section.main-image.cd-fixed-bg
      h1 Main Image Goes Here


    section.introduction.cd-scrolling-bg
      article.opening-statement
        div
          h3 Please join Chad and EJ from August 7-8, 2015 as we celebrate our wedding in Nashville, TN.
      
      article.profiles
        figure
          img.profile(src="../images/eastend.jpg")
          h5 Chad's Story
          p Chad is a Nashville native and 
          
        figure
          img.profile(src="../images/eastend.jpg")
          h5 EJ's Story
          p EJ was born in raised in New York, spending much of her childhood dancing and singing. She studied at Washington & Lee and worked in Washington, DC before moving south. 
        
        figure
          img.profile(src="../images/eastend.jpg")
          h5 Our Relationship
          p adsfasdf
    //- section.people#people.cd-fixed-bg
    //-   h1 People
    //- 
    //- section.party#party.cd-scrolling-bg
    //-   h1 Party

    section.registry#registry.cd-fixed-bg
      article.where-to-buy
        h1 Registry
        p We appreciate you coming from far and wide - city friends, we know that traveling the L.I.E feels like crossing the country - to be with us this summer. Your attendance is as good a gift as any. Who really needs a Vitamix, anyhow? (However, in the event you find it necessary, they are available at Williams Sonoma).
        p If you feel inclined to add a little shimmer to our otherwise dull china collection, you can browse our `wants' over here at Potterybarn. To better dress our guest bedroom, possibly in anticipation of your next long weekend in the city, visit Juliska Home.
        ul.register-links
          li: a(href='#') Williams - Sonoma
          |  /&nbsp;
          li: a(href='#') Pottery Barn
          |  /&nbsp;
          li: a(href='#') Juliska Home

    section.nashville#nashville.cd-fixed-bg
      h1 Nashville

    section.travel#travel.cd-scrolling-bg
      h1 Travel
      article.fly
        figure.icon
          img(src='../images/airplane.png')
        p Fly
        a.button(href='http://www.kayak.com/' target='_blank') Find Flights
      article.drive
        figure.icon
          img(src='../images/car.png')
        p Drive
        a.button(href='https://www.google.com/maps' target='_blank') Find Directions
      article.train
        figure.icon
          img(src='../images/train.png')
        p Train
        a.button(href='http://www.amtrak.com/home' target='_blank') Find Trains
      h6 Other info
      p Wish you could teleport to the beach? Us, too. Here are the next best options.
        

    section.accomodations#accomodations.cd-scrolling-bg
      h1 Accomodations

    footer
      p Non-commercial photos courtesy of the amazing Jose Villa
      p &copy;Peak Nine Designs
