extends layout

block content

  header
    ul.nav-bar
      li: a(href='#people') People
      li: a(href='#party') Party
      li: a(href='#registry') Registry
      li: a(href='#nashville') Nashville
      li: a(href='#travel') Travel
      li: a(href='#accomodations') Accomodations

  section.main-image
    h1 Main Image Goes Here

  section.introduction
    article.opening-statement
      div
        p I we had it our way, all of us would be on a pontoon gambling boat this weekend with Dark and Stormy's in hand, setting sail for 80 degree weather. Since our parent's have been patiently waiting for a ceremony though, we decided June nuptials on the edge of the world (Montauk feels like earth's end, no?) would suffice. There are plenty of wish lanterns to be lit and bottles of champagne waiting to be popped - all we need are your lovely faces.
        br
        p - Chad & EJ

  section.people#people
    h1 People

  section.party#party
    h1 Party

  section.registry#registry
    article.where-to-buy
      h1 Registry
      p We appreciate you coming from far and wide - city friends, we know that traveling the L.I.E feels like crossing the country - to be with us this summer. Your attendance is as good a gift as any. Who really needs a Vitamix, anyhow? (However, in the event you find it necessary, they are available at Williams Sonoma).
      p If you feel inclined to add a little shimmer to our otherwise dull china collection, you can browse our `wants' over here at Potterybarn. To better dress our guest bedroom, possibly in anticipation of your next long weekend in the city, visit Juliska Home.
      ul.register-links
        li: a(href='#') Williams - Sonoma
        |  /&nbsp;
        li: a(href='#') Pottery Barn
        |  /&nbsp;
        li: a(href='#') Juliska Home

  section.nashville#nashville
    h1 Nashville

  section.travel#travel
    h1 Travel

  section.accomodations#accomodations
    h1 Accomodations

  footer
    p Non-commercial photos courtesy of the amazing Jose Villa
    p &copy;Peak Nine Designs
