
// Greys
$grey-darker = #313131
$grey-lighter = #8F8F8F

//
$goldenrod = #FAD46B
$mtnMeadow = #14CC96
$carnation = #F26964
$white = #fff
$black = #000

// Color classes
.black
  color: $black
.white
  color: $white

.gold
  color: $goldenrod

.green
  color: $mtnMeadow

.red
  color: $carnation
