//
// Global layout
// –––––––––––––––––––––

.center
  position: relative
  clear: both
  margin: 0 auto
  width: 1140px

  @media screen and (max-width: 1200px)
    width: 90%
    margin: 0 5%

body,
html,
main
  padding: 0px
  margin: 0px
	height: 100%

a
  color: $goldenrod
  text-decoration: none

section
  position: relative
  padding-top: 70px
