section.hero
  width: 100%
  $section-height = 100vh
  $section-min-height = 650px
  position: relative
  padding-top: 20px
  height: $section-height
  min-height: $section-min-height
  margin: 0
  padding: 0

  div#crossfade
    padding: 0
    margin: 0
    width: 100%
    position: absolute
    background-color: darken($grey-darker, 50%)
    top: 0
    left: 0
    z-index: -1

    figure
      position: absolute
      width: 100%
      background-image: url('../images/photo-booth.jpg')
      background-size: cover
      background-position: center center
      background-attachment: fixed // reset for mobile
      height: $section-height
      min-height: $section-min-height
      margin: 0
      z-index: 1
      top: 0
      left: 0

      // &:nth-child(2)
      //   background-image: url('')
      //

      &.active
        z-index: 3

  article
    position: absolute
    text-align: center
    color: $white
    width: 100%
    height: 87vh

    h1
      color: $white

      span
        display: block


  @media screen and (min-width:768px) and (max-width:1140px)
    div#crossfade
      figure
        background-attachment: scroll
        background-size: 200% auto
        background-position: center top

    article
      height: auto

      div.center
        margin-top: 220px

        h1
          font-size: 22px

  @media screen and (max-width:767px)
    div#crossfade
      figure
        background-attachment: scroll
        background-size: 350% auto
        background-position: center top

    article
      height: auto

      div.center
        margin-top: 220px

        h1
          font-size: 22px
