section.introduction
  text-align: center

  article.opening-statement
    width: 60%
    margin: 0px auto

    div.center

      p
        margin: 10px auto
        padding: 20px auto

  article.profiles
    margin-top: 80px

    figure
      display: inline-block
      width: 300px
      height: 400px
      margin: 10px 20px
      overflow: hidden

      img.profile
        height: 200px
        width: 300px
        border-radius: 5px

      h5
        display: inline-block
        margin: 5px auto

      p
        font-size: 14px

      @media screen and (max-width: 479px)
        margin: 10px auto;
