section.introduction
  text-align: center

  article.opening-statement
    width: 50%
    margin: 0px auto

    div
      text-align: center

      p
        margin: 10px auto
        padding: 20px auto

  figure
    img.eastend
      margin: 50px auto
