section.introduction
  text-align: center

  article.opening-statement
    width: 60%
    margin: 0px auto

    div
      text-align: center

      p
        margin: 10px auto
        padding: 20px auto

  article.profiles
    margin-top: 50px
    width: 100%
    display: inline-block

    figure
      display: inline-block
      width: 20%
      height: 400px
      margin: 10px 20px
      overflow: hidden

      img.profile
        height: 200px
        width: 300px

      h5
        display: inline-block
        margin: 5px auto

      p
        font-size: 14px
