section.nashville
  padding: 70px 0
  background-color: $grey-darker

  div.center
    article.headliners
      text-align: center

      h2
        color: $white
        margin-top 0

      hr
        margin: 3.2% auto
        color: rgba($white, .2)
        width: 10%

      ul
        padding: 0
        margin: 0

        li
          list-style-type: none
          display: inline-block
          margin: 5px

          a
            text-decoration: none
            color: $white
            opacity: .5

            &:hover
              transition: all .2s ease
              opacity: 1

            span
              margin-left: 5px
              color: rgba($grey-lighter, .5)

            &.active
              border-bottom: 1px solid $white
              opacity: 1

    div#content-container
      text-align: center

      ul
        padding: 0
        margin: 0 auto

        li
          list-style-type: none

          article
            background-color: $white
            display: inline-block
            width: 250px
            height: auto
            margin: 20px
            border-radius: 4px
            padding: 2%
            text-align: left

            h6
              font-weight: bold
              text-align: left
              font-size: 16px
              margin-bottom 8px

            address
              font-size: 12px

            p
              font-size: 14px
