section.nashville
  padding-top: 200px
  width: 100%
  background-color: rgba(black, 0.85)
  background-image: url('../images/nashville.jpg')

  h1
    color: white

  // div#content-container
  //   min-height: 200px
  //   background-color: red
