section.party
  padding 70px 0

  div.center
    article.events
      text-align: center

      hr
        color: rgba($grey-darker, .2)
        width: 10%
        margin: 3.2% auto

      ul
        padding: 0
        margin: 0

        li
          list-style-type: none
          display: inline-block
          margin: 5px

          a
            text-decoration: none
            color: $grey-darker
            opacity: .5

            &:hover
              transition: all .2s ease
              opacity: 1

            span
              margin-left: 5px
              color: rgba($grey-lighter, .5)

            &.active
              border-bottom: 1px solid $grey-darker
              opacity: 1


    div#party-container
      border 1px solid $grey-darker
      min-height: 200px
      margin 4% 0

      article.event-info
        padding 4%

        p.five-points
          font-weight: bold
