section.party
  padding-top: 50px
  width: 100%

  div.center
    article.events
      text-align: center

      hr
        color: rgba($black, .2)
        width: 20%

      ul
        padding: 0
        margin: 0

        li
          list-style-type: none
          display: inline-block
          margin: 5px

          a
            text-decoration: none
            color: $grey-darker
            opacity: .5

            span
              margin-left: 5px
              color: rgba($grey-lighter, .5)

            &.active
              border-bottom: 1px solid $grey-darker
              opacity: 1


  div#party-container
    border 1px solid $grey-darker
    min-height: 200px
