section.people
  padding 70px 0

  div.center
    text-align: center

    article.opening-statement
      width: 80%
      margin: 0 auto

      p
        text-align left


    article.profiles
      margin-top: 30px
      overflow: hidden

      ul
        tl(auto)

        li
          list-style-type: none
          display: inline-block
          margin: 1%
          padding: 2%

          &:last-child
            padding-top: 0
            margin-top: 0

          figure
            width: 300px
            padding: 0
            margin: 0
            text-align: center
            display: block
            overflow: hidden

            img.profile
              width: 300px
              height: 100%
              border-radius: 4px

            hr
              margin-top: 3.2%
              color: rgba($grey-darker, .2)
              width: 20%

            p
              font-size: 14px
              text-align: left

  @media screen and (min-width: 480px) and (max-width: 767px)
    padding: 10px 0

    article.profiles
      ul li figure
        padding: 0
        width: 500px
        margin-top: 20px

        img.profile
          width: 100%
          height: auto

  @media screen and (max-width: 479px)
    padding: 10px 0
    div.center
      width: 100%
      margin: 0
      article.opening-statement
        width: 90%

      article.profiles
        ul
          li
            margin: 0
            padding: 0

            figure
              width: 90%
              margin: 0 auto
              padding: 0


section.bridesmaids
  padding: 50px 0
  margin: 0
  background-color: $gallery

  div.center
    article.party
      text-align: center

      h2
        color $grey-darker
        margin-top 0

      ul
        padding: 0
        margin: 0

        li
          list-style-type: none
          display: inline-block
          margin: 5px

          a
            text-decoration: none
            color: $grey-darker
            opacity: .5

            &:hover
              transition: all .2s ease
              opacity: 1

            span
              margin-left: 5px
              color: rgba($grey-lighter, .5)

            &.active
              border-bottom: 1px solid $grey-darker
              opacity: 1

    div#bridesmaids-container
      text-align: center

      article
        background-color: $white
        display: inline-block
        margin: 20px auto
        border-radius: 4px
        width: 60%

        div.copy
          text-align: left
          padding: 0 10px

  @media screen and (min-width: 768px) and (max-width: 1100px)
    div.center
      div#bridesmaids-container
        article
          width: 90%

  @media screen and (max-width: 767px)
    div.center
      div#bridesmaids-container
        article
          width: 100%

section.groomsmen
  padding: 10px 0 50px
  background-color: $gallery

  div.center
    article.party
      text-align: center

      h2
        color $grey-darker
        margin-top: 0

      ul
        padding: 0
        margin: 0

        li
          list-style-type: none
          display: inline-block
          margin: 5px

          a
            text-decoration: none
            color: $grey-darker
            opacity: .5

            &:hover
              transition: all .2s ease
              opacity: 1

            span
              margin-left: 5px
              color: rgba($grey-lighter, .5)

            &.active
              border-bottom: 1px solid $grey-darker
              opacity: 1

    div#groomsmen-container
      text-align: center

      article
        background-color: $white
        display: inline-block
        margin: 20px auto
        border-radius: 4px
        width: 60%

        div.copy
          text-align: left
          padding: 0 10px

  @media screen and (min-width: 768px) and (max-width: 1100px)
    div.center
      div#groomsmen-container
        article
          width: 90%


  @media screen and (max-width: 767px)
    div.center
      div#groomsmen-container
        article
          width: 100%
