section.people
  text-align: center

  article.opening-statement
    width: 80%
    margin: 0px auto

    h4
      line-height: 1.2em

  article.profiles
    margin-top: 80px

    figure
      display: inline-block
      width: 300px
      min-height: 600px
      margin: 10px 20px
      overflow: hidden

      img.profile
        height: 200px
        width: 300px
        border-radius: 5px

      h5
        display: inline-block
        margin: 5px auto

      p
        font-size: 14px

  @media screen and (min-width: 480px) and (max-width: 767px)
    article.profiles
      figure
        padding: 0
        width: 500px

        img.profile
          width: 100%
          height: auto

  @media screen and (max-width: 479px)
    article.profiles
      figure
        width: 80%
        margin: 0 auto


section.bridesmaids
  div.#bridesmaids-container
    min-height: 200px
    background-color: red
