section.people
  padding-top: 30px

  div.center
    text-align: center

    article.opening-statement
      width: 80%
      margin: 0 auto

      h6
        line-height: 1.25em
        text-align: left

    article.profiles
      margin-top: 30px

      ul
        tl(auto)

        li
          list-style-type: none
          display: inline-block
          margin: 1%
          padding: 2%
          // dev-mode()

          figure
            width: 300px
            padding: 0
            margin: 0
            text-align: center
            display: block
            overflow: hidden

            img.profile
              width: 300px
              height: 100%
              border-radius: 4px

            hr
              margin-top: 3.2%
              color: rgba($black, .2)
              width: 20%

            p
              font-size: 14px
              text-align: left

  @media screen and (min-width: 480px) and (max-width: 767px)
    article.profiles
      ul li figure
        padding: 0
        width: 500px
        margin-top: 20px

        img.profile
          width: 100%
          height: auto

  @media screen and (max-width: 479px)
    article.profiles
      ul li figure
        width: 80%
        margin: 0 auto


section.bridesmaids
  div.#bridesmaids-container
    min-height: 200px
    background-color: red
