section.registry
  padding-bottom: 40px

  div.center
    article.where-to-buy

      hr
        margin-top: 3.2%
        color: rgba($black, .2)
        width: 10%

      p
        font-size: 24px
        color: $grey-lighter
        line-height: 1.1em

      ul.register-links
        li
          display: inline-block

          a
            margin: 50px
            opacity: .5

            &:hover
              opacity: 1

@media screen and (min-width: 768px) and (max-width: 1150px)
  section.registry
    article.where-to-buy
      ul.register-links
        text-align: center

        li
          display: inline-block
          margin: 0 auto
          a
            margin: 0

            img
              width: 275px

@media screen and (max-width: 767px)
  section.registry
    article.where-to-buy
      p
        text-align: left
        font-size: 16px !important
        line-height: 1.5em !important

      ul.register-links
        text-align: center
        padding: 0

        li
          display: block

          a
            margin: 0 auto

            img
              width: 200px
              padding-bottom: 30px
