section.registry
  text-align: center

  article.where-to-buy
    margin: 5px auto
    width: 60%
    padding: 20px

    p
      font-size: 30px
      color: $grey-lighter

    ul.register-links
      padding: 20px
      margin: 20px auto

      li
        display: inline-block

        a
          margin: 20px
          font-size: 50px
          color: $grey-darker
          text-decoration: none
