section.travel
  text-align: center

  article
    display: inline-block
    height: 270px
    margin: 20px
    text-align: center

    figure.icon
      img
        width: 100px
        height: 100px

    p
      text-transform: uppercase
      display: block;
      font-size: 30px

    a.button
      text-transform: uppercase
      text-decoration: none

  h6
    text-transform: uppercase
    font-size: 30px
    margin: 5px
    margin-top: 50px

  p.other
    width: 80%
    margin: 24px auto 40px
    font-size: 30px
    color: $grey-lighter
    line-height: 1.1em

    a
      color: $goldenrod
      text-decoration: none


@media screen and (max-width: 479px)
  a.button
    background-color: $white
    color: $grey-darker
    border: 1px solid $grey-darker

  p.other
    width: 40%
