.button {
  display: inline-block;
  padding: 10px 32px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  background-color: #8f8f8f;
  border: 1px solid #8f8f8f;
}
.button:hover {
  color: #fff;
  background-color: #313131;
  border: 1px solid #313131;
}
footer p {
  text-align: center;
}
header {
  text-align: center;
  width: 100%;
  min-height: 60px;
  margin: 0px;
}
header ul.nav-bar {
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  position: fixed;
  background-color: #fff;
}
header ul.nav-bar li {
  display: inline-block;
  margin: 0px 40px;
}
header ul.nav-bar li a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
section.introduction article.opening-statement {
  margin: 20px auto;
}
section.introduction article.opening-statement div {
  text-align: center;
}
section.introduction article.opening-statement div p {
  margin: 10px auto;
  padding: 20px auto;
}
section.nashville {
  padding-top: 200px;
  width: 100%;
  background-color: #313131;
}
section.nashville h1 {
  color: #fff;
}
section.registry {
  text-align: center;
}
section.registry article.where-to-buy {
  margin: 5px auto;
  width: 60%;
  padding: 20px;
}
section.registry article.where-to-buy p {
  font-size: 30px;
  color: #8f8f8f;
}
section.registry article.where-to-buy ul.register-links {
  padding: 20px;
  margin: 20px auto;
}
section.registry article.where-to-buy ul.register-links li {
  display: inline-block;
}
section.registry article.where-to-buy ul.register-links li a {
  margin: 20px;
  font-size: 50px;
  color: #313131;
  text-decoration: none;
}
section.travel {
  text-align: center;
}
section.travel article {
  display: inline-block;
  height: 270px;
  margin: 20px;
  text-align: center;
}
section.travel article figure.icon img {
  width: 100px;
  height: 100px;
}
section.travel article p {
  text-transform: uppercase;
  display: block;
  font-size: 30px;
}
section.travel article a.button {
  text-transform: uppercase;
  text-decoration: none;
}
section.travel h6 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 5px;
}
body {
  padding: 0px;
  margin: 0px;
}
a {
  color: #00b7ff;
}
h1 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 2.5px;
  font-weight: normal;
  color: #313131;
}
section {
  min-height: 100vh;
  padding-top: 50px;
}
section.main-image {
  padding-top: 200px;
  width: 100%;
  background-color: #313131;
}
section.main-image h1 {
  color: #fff;
}
