.black {
  color: #000;
}
.white {
  color: #fff;
}
.gold {
  color: #fad46b;
}
.green {
  color: #14cc96;
}
.red {
  color: #f26964;
}
@font-face {
  font-family: 'Alright Sans LT';
  src: url("../fonts/alrightSansLTReg.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Alright Sans LT Italic';
  src: url("../fonts/alrightSansLTRegItalic.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Alright Sans LT Medium';
  src: url("../fonts/alrightSansLTMedium.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
.defaultType,
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
small,
em,
strong,
input,
button {
  font-family: "Alright Sans LT", "Alright Sans LT Medium", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 1em 0;
  color: #313131;
  font-weight: normal;
  text-align: center;
  letter-spacing: 2.5px;
}
h1 {
  font-size: 54px;
  line-height: 70px;
}
@media screen and (max-width: 479px) {
  h1 {
    font-size: 45px;
  }
}
h2 {
  font-size: 45px;
  line-height: 64px;
}
h3 {
  font-size: 35px;
  line-height: 45px;
}
h4 {
  font-size: 26px;
  line-height: 40px;
}
h5 {
  font-size: 21px;
  line-height: 27px;
}
h6 {
  font-size: 19px;
  line-height: 33px;
}
p {
  line-height: 26px;
  font-size: 24px;
}
.main section {
  position: relative;
  padding: 70px 0;
}
.center {
  position: relative;
  clear: both;
below(3)
below(2)
below(1)
}
body,
html,
main {
  padding: 0px;
  margin: 0px;
}
height: 100%,
a {
  color: #fad46b;
  text-decoration: none;
}
section {
  padding-top: 70px;
}
section.main-image {
  width: 100%;
  background-image: url("../images/summer.jpg");
}
section.main-image h1 {
  color: #fff;
}
section.cd-fixed-bg {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
section.cd-scrolling-bg {
  min-height: 100vh;
}
.button {
  display: inline-block;
  padding: 10px 32px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  background-color: #8f8f8f;
  border: 1px solid #8f8f8f;
}
.button:hover {
  color: #fff;
  background-color: #313131;
  border: 1px solid #313131;
}
footer {
  text-align: center;
}
footer #mc_embed_signup {
  margin: 20px auto;
  font-size: 20px;
}
footer .subscribe {
  margin-right: 10px;
}
footer .email {
  margin-right: 10px;
  width: 175px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  footer #mc_embed_signup .email,
  footer #mc_embed_signup .button {
    margin-top: 10px;
  }
  footer #mc_embed_signup .subscribe {
    display: block;
  }
  footer #mc_embed_signup .button {
    background-color: #313131;
    -webkit-appearance: none;
  }
}
@media screen and (max-width: 479px) {
  footer #mc_embed_signup .email,
  footer #mc_embed_signup .button {
    margin-top: 10px;
  }
  footer #mc_embed_signup .button {
    background-color: #313131;
    -webkit-appearance: none;
  }
}
header {
  text-align: center;
  min-height: 60px;
  margin: 0px;
}
header ul.nav-bar {
  width: 100%;
  margin: 0px auto;
  padding: 20px 0 20px;
  position: fixed;
  list-style-type: none;
  background-color: #fff;
}
header ul.nav-bar li {
  display: inline-block;
  margin: 0px 40px;
}
header ul.nav-bar li a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  margin-top: 5px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  header ul.nav-bar li {
    margin: 0px 10px;
  }
}
@media screen and (max-width: 479px) {
  header {
    min-height: 135px;
  }
  header ul.nav-bar li {
    display: block;
    margin: 0 0;
    padding-bottom: 5px;
  }
  header ul.nav-bar li a {
    border-bottom: 1px solid #8f8f8f;
  }
}
section.introduction {
  text-align: center;
}
section.introduction article.opening-statement {
  width: 80%;
  margin: 0px auto;
}
section.introduction article.opening-statement div.center p {
  margin: 10px auto;
  padding: 20px auto;
}
section.introduction article.profiles {
  margin-top: 80px;
}
section.introduction article.profiles figure {
  display: inline-block;
  width: 300px;
  min-height: 400px;
  margin: 10px 20px;
  overflow: hidden;
}
section.introduction article.profiles figure img.profile {
  height: 200px;
  width: 300px;
  border-radius: 5px;
}
section.introduction article.profiles figure h5 {
  display: inline-block;
  margin: 5px auto;
}
section.introduction article.profiles figure p {
  font-size: 14px;
}
@media screen and (max-width: 479px) {
  section.introduction article.profiles figure {
    width: 100%;
    margin: 50px 0;
    overflow: visible;
  }
  section.introduction article.profiles figure img.profile {
    min-width: 100%;
    min-height: 300px;
    border-radius: 0;
  }
}
section.nashville {
  padding-top: 200px;
  width: 100%;
  background-color: rgba(0,0,0,0.85);
  background-image: url("../images/nashville.jpg");
}
section.nashville h1 {
  color: #fff;
}
section.party#party {
  padding-top: 200px;
  width: 100%;
}
div#party-container {
  border: 1px solid #f00;
  min-height: 200px;
}
section.registry {
  text-align: center;
}
section.registry article.where-to-buy {
  margin: 5px auto;
  width: 80%;
  padding: 20px;
}
section.registry article.where-to-buy p {
  font-size: 30px;
  color: #8f8f8f;
  line-height: 1.1em;
}
section.registry article.where-to-buy ul.register-links {
  padding: 20px;
  margin: 20px auto;
}
section.registry article.where-to-buy ul.register-links li {
  display: inline-block;
}
section.registry article.where-to-buy ul.register-links li a {
  margin: 50px;
  opacity: 0.5;
}
section.registry article.where-to-buy ul.register-links li a:hover {
  opacity: 1;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section.registry article.where-to-buy ul.register-links li {
    display: block;
  }
  section.registry article.where-to-buy ul.register-links li a {
    margin: 0;
  }
  section.registry article.where-to-buy ul.register-links li a img {
    padding-bottom: 30px;
    width: 300px;
  }
}
@media screen and (max-width: 479px) {
  section.registry article.where-to-buy {
    width: 90%;
  }
  section.registry article.where-to-buy ul.register-links {
    margin: 0;
  }
  section.registry article.where-to-buy ul.register-links li {
    display: block;
  }
  section.registry article.where-to-buy ul.register-links li a {
    margin: 0;
  }
  section.registry article.where-to-buy ul.register-links li a img {
    width: 200px;
    padding-bottom: 30px;
  }
}
section.travel {
  text-align: center;
}
section.travel article {
  display: inline-block;
  height: 270px;
  margin: 20px;
  text-align: center;
}
section.travel article figure.icon img {
  width: 100px;
  height: 100px;
}
section.travel article p {
  text-transform: uppercase;
  display: block;
  font-size: 30px;
}
section.travel article a.button {
  text-transform: uppercase;
  text-decoration: none;
}
section.travel h6 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 5px;
  margin-top: 50px;
}
section.travel p.other {
  width: 80%;
  margin: 24px auto 40px;
  font-size: 30px;
  color: #8f8f8f;
  line-height: 1.1em;
}
section.travel p.other a {
  color: #fad46b;
  text-decoration: none;
}
@media screen and (max-width: 479px) {
  a.button {
    background-color: #fff;
    color: #313131;
    border: 1px solid #313131;
  }
  p.other {
    width: 40%;
  }
}
.icon.animated.over-scale {
  width: 125px;
  height: 125px;
  background-color: #313131;
  border-radius: 50%;
}
.icon.animated.over-scale .path-1 {
  fill: #fff;
}
