// Base Styles
@import 'base/animations'
@import 'base/colors'
@import 'base/typography'

// Components
@import 'components/*'

// Views
@import 'views/*'

body
  padding: 0px
  margin: 0px
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

h1
  text-align: center
  font-size: 50px
  letter-spacing: 2.5px;
  font-weight: normal
  color: $grey-darker

section
  min-height: 100vh
  padding-top: 50px

  &.main-image
    padding-top: 200px
    width: 100%
    background-color: $grey-darker

    h1
      color: white
