svg.icon.car(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 576 792', enable-background='new 0 0 576 792', xml:space='preserve')
  g
    path.path-1(d='M139.8,424.4c-16.8,0-30,13.2-30,30s13.2,30,30,30s30-13.2,30-30C169.8,437.6,156.6,424.4,139.8,424.4z M139.8,471.8\
    c-9,0-16.2-7.2-16.2-16.2s7.2-16.2,16.2-16.2s16.2,7.2,16.2,16.2C156,464,148.8,471.8,139.8,471.8z')
  g
    path.path-1(d='M453,386c-21.6,0-98.4-8.4-98.4-8.4L313.8,320c0,0-204.6-21-244.8,134.4h30.6c0-22.2,20.4-46.2,46.2-46.2\
    c25.2,0,46.2,24,46.2,46.2h142.8c0-22.2,20.4-46.2,46.2-46.2c25.2,0,46.2,24,46.2,46.2H447l21.6-55.2\
    C467.4,399.2,475.2,386,453,386z M180,353c47.4-22.8,130.8-18,130.8-18l31.2,42.6C342,377.6,133.2,375.8,180,353z')
  g
    path.path-1(d='M382.4,424.4c-16.8,0-30,13.2-30,30s13.2,30,30,30s30-13.2,30-30C412.4,437.6,399.2,424.4,382.4,424.4z M382.4,471.8\
    c-9,0-16.2-7.2-16.2-16.2s7.2-16.2,16.2-16.2s16.2,7.2,16.2,16.2C398.6,464,391.4,471.8,382.4,471.8z')
