svg.icon.train.animated.over-scale(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-254 347 66.5 100', enable-background='new -254 347 66.5 100', xml:space='preserve')
  path.path-1(d='M-225.5,354c-1.9,0-3.5-1.6-3.5-3.5c0-2,1.6-3.5,3.5-3.5c2,0,3.5,1.6,3.5,3.5C-221.9,352.4-223.5,354-225.5,354L-225.5,354z\
    ')
  path.path-1(d='M-216.1,354c1.9,0,3.5-1.6,3.5-3.5c0-2-1.6-3.5-3.5-3.5c-1.9,0-3.5,1.6-3.5,3.5C-219.6,352.4-218,354-216.1,354L-216.1,354z\
  ')
  path.path-1(d='M-202.1,425.1c4.9-0.8,9.7-5.9,9.7-12.1v-45.3c0-6.4-5.4-12.3-12.7-12.3h-15.6h-15.7c-7.3,0-12.7,5.9-12.7,12.3V413\
  c0,6.2,4.9,11.3,9.7,12.1L-254,447h8.4l10.4-15.4h14.4h14.4l10.5,15.4h8.4L-202.1,425.1z M-229,360c0-1.1,1-2.1,2.1-2.1h6.2h6.2\
  c1.1,0,2.1,1,2.1,2.1v3.6c0,1.1-0.9,2.1-2.1,2.1h-6.2h-6.2c-1.2,0-2.1-1-2.1-2.1L-229,360L-229,360z M-236.7,418.5\
  c-3.1,0-5.6-2.5-5.5-5.6c0-3.1,2.5-5.6,5.5-5.5c3.1,0,5.6,2.5,5.6,5.5C-231.1,415.9-233.6,418.4-236.7,418.5z M-236,389\
  c-3.5,0-6.4-2.4-6.4-6.4v-8.1c0-3.4,2.2-6.4,6.4-6.4h15.2h15.2c4.1,0,6.3,3,6.4,6.4v8.1c0,3.9-2.8,6.3-6.4,6.4h-15.2H-236z\
  M-210.5,412.9c0-3.1,2.5-5.6,5.5-5.5c3.1,0,5.6,2.5,5.6,5.5c0,3.1-2.5,5.6-5.6,5.6C-208.1,418.4-210.5,415.9-210.5,412.9z')
