article
  figure
    img(src='../../images/people/megann.jpg')
  h4 Betsy Chaplin
  p one of three bridesmaids whom I met at Washington and Lee University. We lived across the hall from each other freshman year and quickly established a mutual love for Ellen's daytime talk show and chips and salsa.  
