article
  div.copy
    h4 Blake King
    p  Soon after meeting Travis, he told me about his roomate Blake who he said I reminded him of. Eventually we met at Bristol Motor Speedway and by the time the checkered flag was waived our friendship was secure
