article
  div.copy
    h4 Blake King
    p  Soon after meeting Travis, he told me about his roomate, Blake, who he said I reminded him of. Eventually we met at Bristol Motor Speedway and by the time the checkered flag was waived our friendship was secure. We became roomates in my last year of college and have been the best of friends ever since.  
    p  Blake lives nearby in Nashville when he isn't traveling around the country curing cancer for Sarah Cannon Research.
