article
  div.copy
    h4 Drew Campbell
    p I've followed in Drew's footsepts since birth. When he wasn't mad at me for wearing his clothes behind his back, he always let me tag along and hang with the big boys. I'm honered to have him as a Co-Best Man. 
    p Drew lives in East Nashville where he moonlights as a TV critic.
