article
  h4 Emily
  p Emily and I met after college in Washington, D.C., at our first "grown up" jobs. Emily, who is originally from Tennessee, moved to Nashville and convinced me to give it a shot when my political gig in D.C. was nearing its term limit. I'm so glad she did! 
