section.people.cd-scrolling-bg#people
  div.center
    article.opening-statement
      h6 Welcome to our wedding website! We are counting down the days till August 8 and we can't wait to celebrate with you in Nashville. We'll update this site with info on lodging, travel and details on where you need to be and when as we get closer to the big day. But for now, know that champagne and dancing are waiting at the end. 
    
    article.profiles
      ul
        li
          figure
            img.profile(src="../images/ej.jpg")
            h5 EJ
            hr
            p I moved to Nashville from Washington D.C. in 2010, expecting to stay for one year, before hightailing it back north, home to New York. One year turned into two, and around then, I met Chad. Needless to say, two has turned in very nearly five years in Music City. I feel so lucky to have met and be marrying Chad, who delivers the best one-liners and smokes a mean rack of ribs. Fair warning, he's also pretty proud of his dance moves. 
            br
        
        li
          figure
            img.profile(src="../images/chad.jpg")
            h5 Chad
            hr
            p It's true I do have pretty good one-liners. After our first date though I knew it would take more than a few jokes to hold on to someone like EJ. It's true I do have pretty good one-liners. After our first date though I knew it would take more than a few jokes to hold on to someone like EJ. It's true I do have pretty good one-liners. After our first date though I knew it would take more than a few jokes to hold on to someone like EJ. 
            br
            
        li
          figure
            img.profile(src="../images/couple.JPG")
            h5 Our Relationship
            hr
            p Like most Nashville love stories, ours involves a honky tonk, beer and country music. We met through mutual friends at a birthday party at a bar that we have been back to exactly twice since. (But you should check it out. It's called "Losers," and despite the name, is quite lucky and fun). Chad proposed at home in July 2014, EJ said yes, and George, our hound dog, was beside himself. We celebrated under twinkly lights with Two Boots Pizza and champagne. 

section.bridesmaids
  div.center
    article.party
      h2 Bridesmaids
      ul
        li: a#kim(href='#') Kim Boyer
          span /
        li: a#betsy(href='#') Besty Chaplin
          span /
        li: a#megann(href='#') Megann Clarke
          span /
        li: a#jenny(href='#') Jenny Niemann
          span /
        li: a#emily(href='#') Emily Serck
      
  div#bridesmaids-container
    include ../people/kim
    
section.groomsmen
  div.center
    article.party
      h2 Groomsmen
      ul
        li: a#drew(href='#') Drew Campbell
          span  /
        li: a#travis(href='#') Travis Jeffers
          span  /
        li: a#blake(href='#') Blake King
          span  /
        li: a#marty(href='#') Brett Banes
          span  /
        li: a#sam(href='#') Sam Boyer
    
  div#groomsmen-container
    include ../people/drew
      
      
