article
  figure
    img(src='../../images/people/megann.jpg')
  h4 Jenny Niemann
  p one of three bridesmaids whom I met at Washington and Lee University, where we roomed together for three years and tag-teamed many a costume party. Here, we are at our sorority's "Famous Lovers" party, dressed as Nancy Kerrigan and Tonya Harding. Obviously. 
