article
  div.copy
    h4 Jenny Niemann
    p One of three bridesmaids whom I met at Washington and Lee University, where we tag teamed many a sorority costume party, studied abroad together, and wasted too many hours drinking Rockstars in the C-School computer lab. 
    p Jenny is an avid advocate of bikeable and walkable neighborhoods, and is currently in grad school in Denver, studying urban planning. I'm hoping she has a plan for Nashville. 
