article
  figure
    img(src='../../images/people/megann.jpg')  
  h4 Kim Boyer
  p My wonderful matron-of-honor and sister-in-law, whom I'm also fortunate to call one of my best friends. (Remind me to snap a pic with Kim this weekend)
  p Kim currently lives in Nashville, and when she's not assembling the best cheese plates, she's busy working on children's books. 
