article
  div.copy  
    h4 Kim Boyer
    p My wonderful matron-of-honor and sister-in-law, whom I'm also fortunate to call one of my best friends. Kim moved to NYC as I was leaving, so I was thrilled when she and Sam decided to move to Nashville in 2012. 
    p They currently live just a few miles from us, and when she's not assembling the best cheese plates or spinning tunes, Kim's can be found working at the Frist Center for Visual Arts in downtown Nashville. 
