article
  div.copy
    h4 Brett Banes
    p Brett and I met waiting tables while waiting tables in college as well. A few years later he moved to Nashville after stops elsewhere and our friendship took off, even spent a few Thanksgivings together. His green bean casserole was a hit..  
    p He currently lives in San Francisco where he enjoys sailing, caviar, and the finer wines the area has to offer.
