article  
  h4 Megann Clarke
  p also lived on our hall freshman year, but in a much more stately single. Meg and I lived together for another fiour years, including moving into our first "grown-up" apartment together in D.C. 
