article
  div.copy
    h4 Sam Boyer
    p On our first date, EJ told me about her brother, Sam, who was moving to Nashville to open up a pizza place. Little did I know that a year later I would be happily helping him sling slices in his shop. I was lucky to have met EJ, having Sam as her brother was icing on the cake.
