article
  div.copy
    h4 Travis Jeffers
    p Travis and I met while waiting tables in college. Technically, I was a bus boy at the time (apparently my sideburns weren't customer facing ready). I looked up to his waiter status then and have looked up to him ever since. I'm honored to have him as my Co-Best Man.
    p He recently retired to Virginia Beach with wife, Sara, and daughter, Sullivan.
