.button
  display: inline-block
  padding: 10px 32px
  letter-spacing: 1px
  line-height: 25px
  text-transform: none
  text-decoration: none
  cursor: pointer
  font-size: 16px
  line-height: 20px
  color: $white
  border-radius: 4px
  transition: all $duration $easing
  background-color: $grey-lighter
  border: 1px solid $grey-lighter

  &:hover
    color: white
    background-color: $grey-darker
    border: 1px solid $grey-darker
