footer
  text-align: center
  font-family: $type-regular

  #mc_embed_signup
    margin: 20px auto
    font-size: 16px

   .subscribe
     margin-right: 10px
     font-size: 16px

   .email
     margin-right: 10px
     width: 175px
     height: 30px
     font-size: 16px
     text-align: center

   p
    font-size: 16px
    color: $grey-lighter

    span
      color: rgba($grey-lighter, .3)

@media screen and (min-width: 480px) and (max-width: 767px)
  footer
    #mc_embed_signup
      .email, .button
        margin-top: 10px

      .subscribe
        display: block


      .button
        background-color: $grey-darker
        -webkit-appearance none


@media screen and (max-width: 479px)
  footer
    #mc_embed_signup
      .email, .button
        margin-top: 10px

      .button
        background-color: $grey-darker
        -webkit-appearance none
