footer
  text-align: center

  #mc_embed_signup
    margin: 20px auto
    font-size: 20px

   .subscribe
     margin-right: 10px

   .email
     margin-right: 10px
     width: 175px
     height: 30px
     font-size: 20px
     text-align: center

@media screen and (min-width: 480px) and (max-width: 767px)
  footer
    #mc_embed_signup
      .email, .button
        margin-top: 10px

      .subscribe
        display: block


      .button
        background-color: $grey-darker
        -webkit-appearance none


@media screen and (max-width: 479px)
  footer
    #mc_embed_signup
      .email, .button
        margin-top: 10px

      .button
        background-color: $grey-darker
        -webkit-appearance none
