footer
  text-align: center

  #mc_embed_signup
    margin: 20px auto
    font-size: 20px

   .subscribe
     margin-right: 10px

   .email
     margin-right: 10px
     width: 175px
     height: 30px
     font-size: 20px
     text-align: center
