header
  text-align: center
  min-height: 60px
  margin: 0px
  position: relative

  div ul.nav-bar
    width: 100%
    margin: 0px auto
    padding: 20px 0 20px
    position: fixed
    list-style-type: none
    background-color: $white

    li
      display: inline-block
      margin: 0px 40px

      a
        font-size: 20px
        text-decoration: none
        color: black
        text-transform: uppercase
        margin-top: 5px

  nav.mobile
    display: none


@media screen and (min-width: 768px) and (max-width: 990px)
  header div ul.nav-bar li
    margin: 0px 20px


@media screen and (max-width: 767px)

  header
    min-height: 0

    div ul.nav-bar
      display: none
      padding: 0
      margin: 0

    //-
    // Begin Mobile Navigation
    nav.mobile
      display: block
      margin-top: -20px
      padding: 0

      div.user-links
        ul
          list-style-type: none
          padding: 0
          margin: 0

          li
            float: left
            width: 100%
            padding: 0
            margin: 0

            &.opened
              height: 100%
              background-color: $white

            img.hamburger
              width: 40px
              height: 40px
              margin-top: 20px
              float: left

      div.navigation-panel
        background: white
        display: block
        overflow: hidden
        height: 0px
        width: 100%
        transition: height .3s
        float: left

        &.opened
          min-height: 290px

        section.main-menu
          padding-top: 30px

          ul.tier1
            padding: 0
            margin: 0

            li
              display: block
              margin: 0 0
              padding: 0 0 10px 10px
              text-align: left

              a
                text-decoration: none
                color: $grey-darker
                opacity: .7
                border-bottom: 1px solid $grey-lighter
                font-size: 20px

                &:hover
                  opacity: 1

        section.user-actions
          padding-top: 30px
          text-align: left

          a
            text-decoration: none
            color: $grey-darker
            opacity: .7
            padding: 0 0 0 10px
            margin-bottom: 10px
            font-size: 20px

            &:hover
              opacity: 1
