header
  text-align: center
  width: 100%
  min-height: 60px
  margin: 0px

  ul.nav-bar
    width: 100%
    margin: 0px auto
    padding: 20px
    position: fixed
    background-color: white

    li
      float right
      display: inline-block
      margin: 0px 40px

      a
        font-size: 20px
        text-decoration: none
        color: black
        text-transform: uppercase
