header
  text-align: center
  // width: 100%
  min-height: 60px
  margin: 0px

  ul.nav-bar
    width: 100%
    margin: 0px auto
    padding: 20px 0 20px
    position: fixed
    list-style-type: none
    background-color: $white

    li
      display: inline-block
      margin: 0px 40px

      a
        font-size: 20px
        text-decoration: none
        color: black
        text-transform: uppercase
        margin-top: 5px

@media screen and (min-width: 480px) and (max-width: 767px)

  header ul.nav-bar li
    margin: 0px 10px

@media screen and (max-width: 479px)

  header
    min-height: 135px

    ul.nav-bar

      li
        display: block
        margin: 0 0
        padding-bottom: 5px

        a
          border-bottom: 1px solid $grey-lighter
