extends ../shared/layout

block content

    section.main-image.cd-fixed-bg
      h1 EJ and Chad 
        span August 8, 2015

    //-
    //- People Section (Couple, Groomsmen, Bridesmaids)
    //-
    include ../people/index

    //- 
    //- Wedding Events Section
    //- 
    include ../party/index 
    
    //-
    //- Nashville section
    //-
    include ../nashville/index
    
    
    //-
    //- Travel section
    //-
    section.travel#travel
      div.center
        h2 Travel
        hr
        article.fly
          figure.icon
            img(src='../images/airplane.png')
          p Fly
          a.button(href='http://www.kayak.com/' target='_blank') Find Flights
        article.drive
          figure.icon
            img(src='../images/car.png')
          p Drive
          a.button(href='https://www.google.com/maps' target='_blank') Find Directions
        article.train
          figure.icon
            img(src='../images/train.png')
          p Train
          a.button(href='http://www.amtrak.com/home' target='_blank') Find Trains
        h6 Other info
        p.other Sadly public transportation doesn't exist in Nashville. Transportation will be arranged to and from wedding events,&nbsp;
          a(href='#mc_embed_signup') subscribe
          | &nbsp;to our newsletter for future information around this topic. Wanting to see Nashville's sights? We recommend Uber, Lyft, or renting a car. Where to go? Click&nbsp;
          a(href='#nashville') here
          |.
      
    
    //-
    //- Registry section
    //-
    section.registry#registry
      div.center
        article.where-to-buy
          h2 Registry
          hr
          p We know many of you have traveled long distance to be with us on our wedding day, and your attendance is as good a gift as any. If you feel inclined to help us achieve culinary greatness or add some pizazz to the guest room (for when you come visit, of course), we are registered at West Elm and Williams-Sonoma.  
          ul.register-links
            li: a(href='https://secure.williams-sonoma.com/registry/k9rrzbnxfj/registry-list.html', target='_blank')
                  img(src='../images/williams-sonoma.png')
            li: a(href='https://secure.westelm.com/registry/6xxvggpz2r/registry-list.html', target='_blank')
                  img(src='../images/west-elm.png')
    
