extends ../shared/layout

block content

    //-
    //- Hero Section
    //-
    include ../partials/hero
    
    //-
    //- People Section (Couple, Groomsmen, Bridesmaids)
    //-
    include ../people/index

    //- 
    //- Wedding Events Section
    //- 
    include ../party/index 
    
    //-
    //- Nashville section
    //-
    include ../nashville/index
        
    //-
    //- Travel section
    //-
    include ../partials/travel
    
    //-
    //- Registry section
    //-
    include ../partials/registry
