article.event-info  
  h4 Ceremony
  p We are getting married at East End United Methodist Church in East Nashville's Five Points neighborhood, a church that three generations of Campbells have called home. Chad and his brothers grew up attending East End, and in fact, his parents met here in high school, and were married at East End in 197X. 
  address 1212 Holly Street, Nashville, TN 37206
  p
    strong Time:
    | TBD (but plan around 5:30 PM)
    
  p About Five Points
  p The church is located in the heart of Five Points, one of Nashville's quirkiest neighborhoods - half hipster, half hippie. The neighborhood has some of the city's best local restaurants (Treehouse, Marche, Margot, Lockeland Table, Rumors Wine Bar), if you're looking for something to nibble on pre-ceremony. 
  p 
    strong IMPORTANT:
    | &nbsp; Do we have your attention with the caps? Good! Five Points hosts one of Nashville's most popular local festivals, the Tomato Arts Festival, every year. (Did you know the tomato is the Tennessee state fruit?) This year, it falls on the weekend of our wedding. Street parking is very, very scare this weekend and traffic moves very slowly from downtown across the river. We will be providing transportation from a designated hotel, but please leave plenty of time to make it to East Nashville if you are driving yourself. We would hate for you to miss our "I do's" looking for parking. 
  P The festival has free live music, food vendors, local craft beer, a dog parade, a Tomato Queen, and a gazillion tomato related things. We usually go, and it's worth checking out earlier in the day if you don't have plans! Our church will be open to the public for restrooms and shade that afternoon, until it's closed for our set-up. 
