section.party#party.cd-scrolling-bg
  div.center
    article.events
      h2 Party
      ul#when
        li: a#welcome(href='#') Welcome
        li: a.active#ceremony(href='#') Ceremony
        li: a#reception(href='#') Reception
        
    div#party-container
      include ../party/ceremony
        
