article.event-info
  h4 Reception
  p Join us for cocktails, dinner and dancing immediately following the ceremony at our reception venue, called Houston Station. We will provide transportation from the ceremony to the reception. 
  address 434 Houston Street, Nashville, TN 37203
  p Houston Station is a converted warehouse located in one of Nashville's up-and-coming neighborhoods, Wedgewood-Houston. The neighborhood has long been home to artists and artisans, and until this year, the city's minor league ball club, The Sounds. Inside many of the neighborhoods' warehouses, you'll find art galleries, artist studios, and indie record labels, including Infinity Cat Recordings and Serpent & Snakes (the Kings of Leon's label). If you have time, check out United Record Pressing, the country's largest vinyl pressing plant, located around the corner from our venue. For more on specific galleries, click here. 
