extends ../shared/layout

block content

    section.main-image.cd-fixed-bg
      h1 Main Image Goes Here


    section.introduction.cd-scrolling-bg
      article.opening-statement
        div
          h3 Please join Chad and EJ from August 7-8, 2015 as we celebrate our wedding in Nashville, TN.
      
      article.profiles
        figure
          img.profile(src="../images/chad-safeco-field.jpg")
          h5 Chad's Story
          p Chad is a Nashville native and known stud in the community
          
        figure
          img.profile(src="../images/ej-seattle.jpg")
          h5 EJ's Story
          p EJ was born in raised in New York, spending much of her childhood dancing and singing. She studied at Washington & Lee and worked in Washington, DC before moving south. 
        
        figure
          img.profile(src="../images/eastend.jpg")
          h5 Our Relationship
          p adsfasdf

    section.nashville#nashville.cd-fixed-bg
      h1 Nashville

    section.travel#travel.cd-scrolling-bg
      h1 Travel
      article.fly
        figure.icon
          img(src='../images/airplane.png')
        p Fly
        a.button(href='http://www.kayak.com/' target='_blank') Find Flights
      article.drive
        figure.icon
          img(src='../images/car.png')
        p Drive
        a.button(href='https://www.google.com/maps' target='_blank') Find Directions
      article.train
        figure.icon
          img(src='../images/train.png')
        p Train
        a.button(href='http://www.amtrak.com/home' target='_blank') Find Trains
      h6 Other info
      p Sadly public transportation doesn't exist in Nashville. Transportation will be arranged to and from wedding events,&nbsp;
        a(href='#mc_embed_signup') subscribe
        | &nbsp;to our newsletter for future information around this topic. Wanting to see Nashville's sights? We recommend Uber, Lyft, Taxi's or renting a car. Where to go? Click&nbsp;
        a(href='#nashville') here
        |.

    section.registry#registry.cd-fixed-bg
      article.where-to-buy
        h1 Registry
        p We appreciate you coming from far and wide - city friends, we know that traveling the L.I.E feels like crossing the country - to be with us this summer. Your attendance is as good a gift as any. Who really needs a Vitamix, anyhow? (However, in the event you find it necessary, they are available at Williams Sonoma).
        p If you feel inclined to add a little shimmer to our otherwise dull china collection, you can browse our `wants' over here at Potterybarn. To better dress our guest bedroom, possibly in anticipation of your next long weekend in the city, visit Juliska Home.
        ul.register-links
          li: a(href='#')
                img(src='../images/williams-sonoma.png')
          li: a(href='#')
                img(src='../images/west-elm.png')
  
