ul
  li
    article
      h6 The Hermitage 
      address 4580 Rachel’s Lane Hermitage, TN 37076
      p History buffs -- don't miss Andrew Jackson's home, located just 20 minutes east of Nashville. 

    article
      h6 The Ryman (Downtown)
      address 116 5th Ave N, Nashville, TN 37219
      p Nicknamed "the mother church of country music," the Ryman has some of the best acoustics in the country. Originally home to the Grand Ole Opry, but today, bands across all genres play the Ryman. 

    article
      h6 Country Music Hall of Fame and Museum (Downtown)
      address 222 5th Ave S, Nashville, TN 37203
      p Attached to the Omni Hotel, worth it for the costume exhibits alone. If you're looking for something more specific, there's also a George Jones Museum and a Johnny Cash Museum, both downtown.  

    article
      h6 The Belcourt (Hillsboro Village)
      address 2102 Belcourt Ave, Nashville, TN 37212
      p One of our favorite spots in all of Nashville, the Belcourt is Nashville's original art house. Escape the summer heat with a movie and a cold beer.  

    article
      h6 Imogene and Willie (12South)
      address 2601 12th Ave S, Nashville, TN 37204
      p Stop in for a pair of jeans that will last for years and never lose shape. 

    article
      h6 Third Man Records (SoBro - Downtown)
      address 623 7th Avenue South, Nashville, TN
      p Jack White's compound - part record store, part venue, part label. A must-visit, in our opinion. 

    article
      h6 Music Row - Midtown (Music Row) 
      p Just to see that it's totally not what you were expecting. Little bungalows produced some of country music's biggest stars. 

    article
      h6 The Greenways (Nashville)
      p One of our favorite parts about living in Nashville are the Greenways - a series of bike and walking paths that connect the city. 
