ul
  li
    article
      h6 Robert's Western World (Downtown)
      address 416 Broadway, Nashville, TN 37203
      p The best honky tonk on Lower Broad. Old school country music, legit musicians, and the best fried bologna sandwich. 

    article
      h6 Pub 5 (Downtown)
      address 104 5th Ave S, Nashville, TN 37203
      p A small bar downtown, that's quieter than the nearby honkytonks. Try to get a spot on the rooftop. 
      
    article
      h6 Pinewood Social (Downtown)
      address 33 Peabody St, Nashville, TN 37210
      p Good cocktails, good coffee, and good food. Also, bowling. Open from breakfast through latenight. 
    
    article
      h6 Crema (Downtown)
      address 15 Hermitage Ave, Nashville, TN 37204
      p One of Nashville's best coffee shops. It's tiny but worth it. 
      
    article
      h6 Barista Parlor: Golden Sound (Gulch)
      address 610 Magazine Street, Nashville, TN 37203
      p Co-owned by Dan Auerbach, Barista Parlor is a highly-aesthetic coffee experience. Not great for lounging, but good for people watching and expertly crafted jo. 
