ul
  li
    article
      h6 Robert's Western World (Downtown)
      address 416 Broadway, Nashville, TN 37203
      p The best honky tonk on Lower Broad. Old school country music, legit musicians, and the best fried bologna sandwich. 

    article
      h6 Pub 5 (Downtown)
      address 104 5th Ave S, Nashville, TN 37203
      p A small bar downtown that is quieter than the nearby honkytonks. Try to get a spot on the rooftop. 
      
    article
      h6 Pinewood Social (Downtown)
      address 33 Peabody St, Nashville, TN 37210
      p Good cocktails, good coffee, and good food. Also, bowling and a pool. Open from breakfast through latenight. 
    
    article
      h6 Crema (Downtown)
      address 15 Hermitage Ave, Nashville, TN 37204
      p One of Nashville's best coffee shops. It's tiny but worth it. 
      
    article
      h6 Barista Parlor: Golden Sound (Gulch)
      address 610 Magazine Street, Nashville, TN 37203
      p Co-owned by Dan Auerbach, Barista Parlor is a highly-aesthetic coffee experience. Not great for lounging, but good for people watching and expertly crafted cup of jo. 
      
    article
      h6 Patterson House (Midtown)
      address 1711 Division St, Nashville, TN 37203
      p Nashville's original speakeasy and craft cocktail bar. There's usually a wait, but the drinks are worth it. 

    article
      h6 Broadway Brewhouse (Midtown or Downtown)
      address 317 Broadway Nashville, TN 37201
      p A beer bar, and home to The Bushwhacker -- a frozen concotion of deliciousness. It's not healthy, but so, so good. 

    article
      h6 12South Taproom (12South)
      address 2318 12th Ave S, Nashville, TN 37204
      p Go for the local craft beer and tasty casual food. Stay for the porch. 
      
    article
      h6 Stone Fox (The Nations)
      address 712 51st Ave N, Nashville, TN 37209
      p Owned by a brother sister duo (the former is musician William Tyler), Stone Fox offers well-priced cocktails, beer and food. At night, it's one of Nashville's most fun - and affordable - music venues. 
