ul
  li
    article
      h6 Robert's Western World
      address 416 Broadway, Nashville, TN 37203
      p Great spot

    article
      h6 Robert's Western World
      address 416 Broadway, Nashville, TN 37203
      p Great spot
