ul
  li
    article
      h6 Rolf & Daughters
      address 700 Taylor Street, Nashville, TN 37208
      p Great spot

    article
      h6 Mas Tacos
      address 732 Mc Ferrin Avenue, Nashville, TN 37206
      p Great spot
      
    article
     h6 Martin's BBQ
     address 3108 Belmont Boulevard Nashville, TN
     p Great spot 
      
    article
      h6 Cinco De Mayo
      address 358 White Bridge Road, Nashville, TN 37029
      p Great spot
      
    article
      h6 Two Boots Pizza
      address 1925 Broadway, Nashville, TN 37203
      p Great spot
