ul
  li
    article
      h6 Rolf & Daughters (Germantown)
      address 700 Taylor Street, Nashville, TN 37208
      p Named one of America's best new restaurants by Bon Appetite, this place is the bomb. Order the squid ink pasta or the pork ragout, and thank me later. 
    
    article
      h6 City House (Germantown)
      address 1222 4th Ave N, Nashville, TN 37210
      p Another restaurant where you can't go wrong, and one of the restaurants that has helped put Nashville on the 'foodie' map. The chef has been nominated for a James Beard the last few years -- get the pork belly pizza or any iteration of catfish they have, and you'll see why. 
      
    article
      h6 Mas Tacos (East Nashville)
      address 732 Mc Ferrin Avenue, Nashville, TN 37206
      p The best tacos in Nashville, hands down, and quite possibly, the best tortilla soup ever. Be warned - they only take cash! 
      
    article
     h6 Martin's BBQ (Belmont)
     address 3108 Belmont Boulevard Nashville, TN
     p The best bar-b-que in Nashville. Wash it down with a coffee from Bongo Java, Nashville's original coffee house. 
      
    article
      h6 Two Boots Pizza (Midtown)
      address 1925 Broadway, Nashville, TN 37203
      p Sam's pizza place. You can't go wrong with anything here, but The Kitty is Nashville's signature slice -- hot chicken, blue cheese, and Two Boots' signature corn meal crust. Need I say more?
  
    article
      h6 Arnold's (8th Avenue - Gulch)
      address 605 8th Ave S, Nashville, TN 37203
      p One of Nashville's original meat-and-threes. Pick a meat, three sides, and a desert, served cafeteria style on trays. Note: Arnold's is only open during the week. 

    article
      h6 Hattie B's / Bolton's / Prince's 
      p Hot chicken. A Nashville original -- spicy, spicy fried chicken. Prince's is the grandaddy of them all, but it's a hike out there. Worth it, if you have time. Hattie B's and Bolton's have locations in the city and will also bring the heat. Try for at least the medium to get the full experience. Don't order the extra hot if you want to actually attend the wedding.  
      
    article
      h6 M.L. Rose (Charlotte Ave.)
      address 4408 Charlotte Ave, Nashville, TN 37209
      p Our neighborhood bar. Great burger and great craft beer selection. Dare I say it -perfect hangover spot?
