section.nashville#nashville.cd-fixed-bg
  h1 Nashville
  //- a#eat(href='#')
  //-   h6 Where to Eat
  //- a#drink(href='#')
  //-   h6 Where to Drink
  //- a#fun(href='#')
  //-   h6 What to Do
  //- a#know(href='#')
  //-   h6 What to Know
  //-   
  //- div#content-container
  //-   include ../nashville/eat
