section.nashville#nashville
  div.center
    article.headliners
      h2 Nashville
      hr
      ul#where
        li: a.active#eat(href='#') Where to Eat
        li: a#drink(href='#') Where to Drink
        li: a#fun(href='#') What to Do
        //- li: a#know(href='#') What to Know
      
    div#content-container
      include ../nashville/eat
    
