section.nashville#nashville.cd-fixed-bg
  div.center
    article.headliners
      h1 Nashville
      hr
      ul#where
        li: a.active#eat(href='#') Where to Eat
          span /
        li: a#drink(href='#') Where to Drink
          span /
        li: a#fun(href='#') What to Do
          span /
        li: a#know(href='#') What to Know
      
    div#content-container
      include ../nashville/eat
    
