ul
  li
    article
      h6 Something Goes Here
      address 416 Broadway, Nashville, TN 37203
      p Great spot

    article
      h6 Here too
      address 416 Broadway, Nashville, TN 37203
      p Great spot
